<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Chamb - Responsive E-commerce HTML5 Template</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!--enable mobile device-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--fontawesome css-->
      <link rel="stylesheet" href="../static/css/csss/font-awesome.min.css">
      <!--bootstrap css-->
      <link rel="stylesheet" href="../static/css/csss/bootstrap.min.css">
      <!--animate css-->
      <link rel="stylesheet" href="../static/css/csss/animate-wow.css">
      <!--main css-->
      <link rel="stylesheet" href="../static/css/csss/style.css">
      <link rel="stylesheet" href="../static/css/csss/bootstrap-select.min.css">
      <link rel="stylesheet" href="../static/css/csss/slick.min.css"> 
      <link rel="stylesheet" href="../static/css/csss/select2.min.css">
      <!--responsive css--> 
      <link rel="stylesheet" href="../static/css/csss/responsive.css">
   </head>
   <body>
      <!---->
      <!-- Modal -->
      <div class="modal fade lug" id="myModal" role="dialog">
         <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Change</h4>
               </div>
               <div class="modal-body">
                  <ul>
                     <li><a href="#"><img src="/static/images/productimage/flag-up-1.png" alt="" /> United States</a></li>
                     <li><a href="#"><img src="/static/images/productimage/flag-up-2.png" alt="" /> France </a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      
            <div class="row">
             
               <div class="col-md-8 col-sm-8">
                  <div class="md-prod-page">
                     <div class="md-prod-page-in">
                        <div class="page-preview">
                           <div class="preview">
                              <div class="preview-pic tab-content">
                                 <div class="tab-pane active" id="pic-1"><img src="/static/images/productimage/lag-60.png" alt="#" /></div>
                                 <div class="tab-pane" id="pic-2"><img src="/static/images/productimage/lag-61.png" alt="#" /></div>
                                 <div class="tab-pane" id="pic-3"><img src="/static/images/productimage/lag-60.png" alt="#" /></div>
                                 <div class="tab-pane" id="pic-4"><img src="/static/images/productimage/lag-61.png" alt="#" /></div>
                              </div>
                              <ul class="preview-thumbnail nav nav-tabs">
                                 <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="/static/images/productimage/lag-60.png" alt="#" /></a></li>
                                 <li><a data-target="#pic-2" data-toggle="tab"><img src="/static/images/productimage/lag-61.png" alt="#" /></a></li>
                                 <li><a data-target="#pic-3" data-toggle="tab"><img src="/static/images/productimage/lag-60.png" alt="#" /></a></li>
                                 <li><a data-target="#pic-4" data-toggle="tab"><img src="/static/images/productimage/lag-61.png" alt="#" /></a></li>
                              </ul>
                           </div>
                        </div>
                        <div class="btn-dit-list clearfix">
                           <div class="left-dit-p">
                              <div class="prod-btn">
                                 <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
                                 <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                                 <p>23 likes</p>
                              </div>
                           </div>
                        
                        </div>
                     </div>
                     <div class="description-box">
                        <div class="dex-a">
                           <h4>Description</h4>
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                              lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                              when an unknown printer took a galley of type and scrambled it to make a 
                              type specimen book..
                           </p>
                           <br>
                           <p>Small: H 25 cm / &Oslash; 12 cm</p>
                           <p>Large H 24 cm / &Oslash; 25 cm</p>
                        </div>
                        <div class="spe-a">
                           <h4>Specifications</h4>
                           <ul>
                              <li class="clearfix">
                                 <div class="col-md-4">
                                    <h5>Measurments</h5>
                                 </div>
                                 <div class="col-md-8">
                                    <p>H25 cm / 0 12 cm and H 24 cm / 0 25 cm</p>
                                 </div>
                              </li>
                              <li class="clearfix">
                                 <div class="col-md-4">
                                    <h5>Material</h5>
                                 </div>
                                 <div class="col-md-8">
                                    <p>Material Name</p>
                                 </div>
                              </li>
                              <li class="clearfix">
                                 <div class="col-md-4">
                                    <h5>Wire</h5>
                                 </div>
                                 <div class="col-md-8">
                                    <p>Wire Name</p>
                                 </div>
                              </li>
                              <li class="clearfix">
                                 <div class="col-md-4">
                                    <h5>Comdition</h5>
                                 </div>
                                 <div class="col-md-8">
                                    <p>Brand new</p>
                                 </div>
                              </li>
                              <li class="clearfix">
                                 <div class="col-md-4">
                                    <h5>SKU number</h5>
                                 </div>
                                 <div class="col-md-8">
                                    <p>SKU number</p>
                                 </div>
                              </li>
                              <li class="clearfix">
                                 <div class="col-md-4">
                                    <h5>Shipping</h5>
                                 </div>
                                 <div class="col-md-8">
                                    <p>Shipping worldwide</p>
                                 </div>
                              </li>
                              <li class="clearfix">
                                 <div class="col-md-4">
                                    <h5>Warranty</h5>
                                 </div>
                                 <div class="col-md-8">
                                    <p>1 years</p>
                                 </div>
                              </li>
                              <li class="clearfix">
                                 <div class="col-md-4">
                                    <h5>Delivery</h5>
                                 </div>
                                 <div class="col-md-8">
                                    <p>Choose country</p>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="similar-box">
                     <h2>Similiar products from Morgan Mobilya</h2>
                     <div class="row cat-pd">
                        <div class="col-md-6">
                           <div class="small-box-c">
                              <div class="small-img-b">
                                 <img class="img-responsive" src="/static/images/productimage/tr1.png" alt="#" />
                              </div>
                              <div class="dit-t clearfix">
                                 <div class="left-ti">
                                    <h4>Product</h4>
                                    <p>By <span>Beko</span> under <span>Lights</span></p>
                                 </div>
                                 <a href="#" tabindex="0">$1220</a>
                              </div>
                              <div class="prod-btn">
                                 <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
                                 <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                                 <p>23 likes</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="small-box-c">
                              <div class="small-img-b">
                                 <img class="img-responsive" src="/static/images/productimage/tr2.png" alt="#" />
                              </div>
                              <div class="dit-t clearfix">
                                 <div class="left-ti">
                                    <h4>Product</h4>
                                    <p>By <span>Beko</span> under <span>Chairs</span></p>
                                 </div>
                                 <a href="#" tabindex="0">$1220</a>
                              </div>
                              <div class="prod-btn">
                                 <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
                                 <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                                 <p>23 likes</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row cat-pd">
                        <div class="col-md-6">
                           <div class="small-box-c">
                              <div class="small-img-b">
                                 <img class="img-responsive" src="/static/images/productimage//tr3.png" alt="#" />
                              </div>
                              <div class="dit-t clearfix">
                                 <div class="left-ti">
                                    <h4>Product</h4>
                                    <p>By <span>Beko</span> under <span>Lights</span></p>
                                 </div>
                                 <a href="#" tabindex="0">$1220</a>
                              </div>
                              <div class="prod-btn">
                                 <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
                                 <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                                 <p>23 likes</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="small-box-c">
                              <div class="small-img-b">
                                 <img class="img-responsive" src="/static/images/productimage//tr4.png" alt="#" />
                              </div>
                              <div class="dit-t clearfix">
                                 <div class="left-ti">
                                    <h4>Product</h4>
                                    <p>By <span>Beko</span> under <span>Chairs</span></p>
                                 </div>
                                 <a href="#" tabindex="0">$1220</a>
                              </div>
                              <div class="prod-btn">
                                 <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
                                 <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                                 <p>23 likes</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 col-sm-12">
                  <div class="price-box-right">
                     <h4>Price</h4>
                     <h3>$1.320 <span>pr.peice</span></h3>
                                   
                                       </div>
               </div>
            </div>
         </div>
      </div>
    
      <!--main js--> 
      <script src="/static/js/jss/jquery-1.12.4.min.js"></script> 
      <!--bootstrap js--> 
      <script src="/static/js/jss/bootstrap.min.js"></script> 
      <script src="/static/js/jss/bootstrap-select.min.js"></script>
      <script src="/static/js/jss/slick.min.js"></script> 
      <script src="/static/js/jss/select2.full.min.js"></script> 
      <script src="/static/js/jss/wow.min.js"></script> 
      <!--custom js--> 
      <script src="/static/js/jss/custom.js"></script>
   </body>
</html>